.btn:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}
#box_color {
    max-height: 200px; /* Adjust based on your preference */
    overflow-y: auto;  /* Adds scrollbar when content exceeds max height */
}
